<footer class="site-footer">
  <p>
    &copy; <%= new Date().getFullYear() %> Your Fashion App. All Rights
    Reserved.
  </p>

  <p>
    Contact:
    <a href="mailto:gabrielefevberha@gmail.com">gabrielefevberha@gmail.com</a>
  </p>

  <div class="social-links">
    <a href="https://www.facebook.com/Gabriel%20Efevberha" target="_blank">
      <i class="fab fa-facebook"></i> Facebook
    </a>
    <a href="https://wa.me/2349134849675" target="_blank">
      <i class="fab fa-whatsapp"></i> WhatsApp
    </a>
  </div>
</footer>
