<div class="navbar">
  <div class="navbar-left">
    <span class="toggle-icon" onclick="toggleSidebar()">☰</span>
    <span class="brand">FashionApp</span>
  </div>

  <div class="navbar-right">
    <a href="/viewCart">
      <div class="cart-icon">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="cart-count">0</span>
      </div>
    </a>

    <form method="post" action="/search" class="search-box">
      <input type="text" placeholder="Search products..." name="searchProduct" />
    </form>

    <% if (user) { %>
    <img src="/uploads/<%= user.image %>" alt="User" class="avatar" />
    <span class="user-name">Hello, <%= user.username %></span>
    <% } else { %>
    <img src="/image/default-avatar.png" alt="User" class="avatar" />
    <a href="/login" class="login-btn">Login</a>
    <% } %>
  </div>
</div>
