<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <title>Forgot Password</title>
  </head>
  <body>
    <div class="password-form-container">
      <h1>Forgot Password</h1>
      <form action="/forgot-password" method="POST" class="password-form">
        <input
          type="email"
          name="email"
          placeholder="Enter your email"
          required
        />
        <button type="submit">Send Reset Link</button>
      </form>
      <% if (message) { %>
      <p class="form-message"><%= message %></p>
      <% } %>
    </div>
  </body>
</html>
